@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Roboto-Bold";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-Black";
  src: url(./assets/fonts/Roboto-Black.ttf);
}

:root {
  font-family: "Roboto-Bold";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cssshadow{
  -webkit-text-stroke: 20px #2C72B8;
  font-family: "Roboto-Black";
  paint-order: stroke fill;
}

